<script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script src="https://unpkg.com/alpinejs" defer></script>

<section class="orders light-section">
    <div class="container  px-4 mx-auto pt-12 overflow-x-auto">
        <h1 class="font-bold text-lg mb-4 ">Admin Orders</h1>

        <table class="w-full table-auto bg-white">
            <thead class="border">
                <tr class="border">
                    <th class="px-4 border py-2 text-left">
                        Orders
                    </th>

                    <th class="px-4  border py-2 text-left">
                        Customer
                    </th>
                    <th class="px-4  border py-2 text-left">
                        Address
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Placed At
                    </th>
                </tr>
            </thead>
            <tbody id="orderTableBody">



            </tbody>
        </table>
    </div>
</section>