<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real time pizza app</title>
    <link rel="icon" type="image/png" href="/favicon.png">

    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito&family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap"
        rel="stylesheet">

    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Add these lines in the head section of your EJS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">

</head>
<script>

    window.onload = function () {
        if (window.location.pathname !== "/login")
            loginCheck();
    };
    async function loginCheck() {


        const loginLink = document.getElementById('loginLink');

        const registerLink = document.getElementById('registerLink');
        const d = await fetch("/check-login");
        const data = await d.json();

        if (data.success) {

            loginLink.innerText = 'Logout';
            registerLink.innerText = 'Profile'
            loginLink.setAttribute('href', '/logout');
            registerLink.setAttribute('href', '/profile');


            getCartItemCount()




        } else {
            loginLink.innerText = 'Login';
            loginLink.setAttribute('href', '/login');
        }
    }


    async function getCartItemCount() {
        const cartNumber = document.getElementById("cartNumber");
        const cartItems = await fetch("/get-cart-length");
        const cartData = await cartItems.json();

        cartNumber.innerText = cartData.itemCount

    }
</script>

<body>
    <nav class="container mx-auto flex justify-between items-center py-4">
        <div>
            <a href="/">
                <img src="img/logo.png" alt="logo">

            </a>
        </div>
        <div>
            <ul class="flex items-center">
                <%if(user){%>
                    <li class="hidden md:block mx-1 md:mx-2"><a href="/profile">Welcome Back <%=
                                user.username.toUpperCase()%></a></li>
                    <%}%>
                        <li class="mx-1 md:mx-2"><a href="/">Home</a></li>
                        <li class="md:mx-2"><a href="/order">Orders</a></li>
                        <li class="mx-1 md:mx-2"><a id="registerLink" href="/register">Register</a></li>

                        <li class=" mx-1 md:mx-2"><a id="loginLink" href="/login">Login</a></li>


                        <li class="mx-1  md:mx-2 "><a href="/cart"
                                class="inline-block px-4  py-2  flex items-center  rounded-full">
                                <span class="text-white pr-2 font-bold  " id="cartNumber">
                                    <%= typeof itemCount !=='undefined' ? itemCount : 0 %>
                                </span>
                                <img src="/img/cart.png" alt=""></a></li>
            </ul>
        </div>
    </nav>

    <%- body %>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="/js/app.js"></script>
</body>



</html>