@import "./variables";
body{
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    color:  $dark;
  
}


nav li:last-child a{
    background: $primary;
    &:hover {
            background: $primary-hover;
        }
}

nav li a{
    transition: $smooth;
    &:hover{
        color: $primary
    }
}

section.hero{
    background: $seconndary;
}


.size{
    background: $seconndary;
}


.add-to-cart{
    transition: $smooth;
    border: 2px solid $primary;
    color: $primary;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    
}


.btn-primary{
    background:$primary;
    transition: $smooth;
    &:hover{
        background:$primary-hover;
    }
}
section.cart{
    background: $seconndary;
}

.login , .register{
    background: $seconndary;
    min-height: calc(100vh - 86px);
}

section.login{
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }

    .google-signin{
       color: white;

     padding: 10px 10rem;
    }
}


a.link{
    color: $primary;
}



section.status{
    background: $seconndary;
    min-height: calc(100vh - 73px);

    .status-box{
        padding: 60px 0 0 0 ;
        //dots 
        ul li span{
            position: relative;
            padding-left: 20px;
&::after {
        content: "";
        position: absolute;
        left: -10px;
        top: 35%;
        background: $dark;
        width: 10px;
        height: 10px;
        border-radius: 50%;
     
        transform: translateY(-50%);
        box-shadow:  0 0 1px 10px $seconndary;
    }
        }
    }

}




.status-box ul img{
    width: 50px ;
    height: 50px;
}
.status-box ul li{
    position: relative;
}

.status-box ul .li-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 140px ;
    width: 2px ;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

.status-box ul li.status_completed span{
    color: $gray;
  &::after{
background: $gray!important;
  }
}

.status-box ul li.status_completed::before{
background: $gray;

}

.status-box ul li.current_status span {
    color: $primary;

    &::after {
        background: $primary !important;
    }
}

.status-box ul li.current_status::before {
    background: $primary;

}

.status-box ul li small{
   margin-left: 3rem;
   font-size: 10px;
   margin-top: 5px;

}

