<section class="status">
    <div class="container mx-auto">

        <div class=" status-box w-2/3 mx-auto  ">
            <div class="flex items-center justify-between mb-12">
                <h1 class="text-xl font-bold">Track delivery status</h1>
                <h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-xs">
                    <%=order._id%>
                </h6>
                <input id="hiddenInput" type="hidden" value="<%=JSON.stringify(order)%>">
            </div>

            <ul>
                <li data-status="order_placed" class="status_line  text-xl pb-16  flex li-item">
                    <img class="mx-12" src="/orderplaced.png" alt="">

                    <span>
                        Order Placed
                    </span>

                </li>
                <li data-status="confirmed" class="status_line  text-xl pb-16 flex li-item">
                    <img class="mx-12" src="/orderconfirmation.png" alt="">
                    <span>
                        Order Confirmation
                    </span>

                </li>
                <li data-status="prepared" class="status_line  text-xl pb-16 flex li-item">

                    <img class="mx-12" src="/orderpreparation.png" alt="">

                    <span>
                        Order Preparation
                    </span>

                </li>
                <li data-status="delivered" class="status_line  text-xl pb-16 flex li-item  ">
                    <img class="mx-12" src="/orderwent.png" alt="">

                    <span>
                        Order Out for Delivery
                    </span>

                </li>
                <li data-status="completed" class="status_line  text-xl pb-16 flex ">
                    <img class="mx-12" src="/delivered.png" alt="">

                    <span>
                        Order Completed
                    </span>

                </li>

            </ul>
        </div>

    </div>
</section>

<script src="/js/app.js"></script>